
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,100;1,400;1,700&display=swap');

*{
  margin: 0;
  padding: 0;  
  font-family: 'Lato', sans-serif;
}
.hero{
    background-image: url(../images/cow.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    clip-path: polygon(0 0, 100% 1%, 99% 50%, 92% 93%, 32% 100%, 0 75%);
}
.hero h1{
    color:azure;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    font-family:cursive;
    word-spacing: 40px;
    letter-spacing: 20px;
    padding-top: 60px;
}
.article{
    width: 80%;
    margin: 60px auto;
    border: 10px solid olivedrab;
    padding: 40px;
    background-color: rgb(105, 175, 175);
    text-align: justify;
    background: linear-gradient(60deg,rgb(253, 201, 210), rgb(145, 219, 248))
} 
.article h2, #cow-type h2{
  text-align: center;
  font-size: 40px;
  border-bottom: 5px solid olivedrab;
  margin: 20px;
  padding: 10px;
}
.article p{
  font-size:20px;
  line-height: 1.4em;
}
.article p .imp{
  font-size: 2em;
  background-color: olivedrab;
}
.cow-images{
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
  justify-content: center; 
}
.cow-images div{
  width: 300px;
}
.cow-images img{
  width: 100%;
}
